@use '../../index.scss' as v;


.cardContainer{

    width: 100%;
    max-width: 352px;
    height: 137px;
    border-radius: 6px;

    padding: 24px 32px;

    background-color: v.$grey4-color;

   

    & > .cardContent{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;


        & >.cardInfoType{
       width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;

        & > :first-child{
            font-family: "Roboto";
            font-size: 16px;
            color:v.$grey6-color;
        }

        }
        & > :last-child{
            padding-top: 12px;
            font-family: "Roboto";
            font-weight: 700;
            font-size: 32px;
            color:v.$white-color;
        }
    }

} 

.backgroundGreen{
    background-color: v.$green-dark-color;
}

