@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Poppins:wght@400;500;600;700&display=swap');


//Colors

//Product
$green-dark-color: #015F43;
$green-color: #00875F;
$green-light-color: #00B37E;
$red-dark-color: #AA2834;
$red-color: #F75A68;

//Base
$grey1-color: #121214;
$grey2-color: #202024;
$grey3-color: #29292E;
$grey4-color: #323238;
$grey5-color: #7C7C8A;
$grey6-color: #C4C4CC;
$grey7-color: #E1E1E6;
$white-color: #FFFFFF;

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}